body{
    background-color: blueviolet;
    border: 20px solid powderblue;
    margin: 50px;
    padding: 20px;
}

h1{ 
    color: indianred;
    width:fit-content ;
    border: 10px
    solid  yellow;
}
a:link{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    color: green;
    
}
a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
